.app {
  display: grid;
  place-items: center;
}
.app__projects {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  animation: appAnimation 2s;
  overflow: hidden;
}

.app__about,
.app__home {
  width: 80vw;
  height: 100%;
}

.app__about {
  margin: 40px 0;
}

.app__contact {
  width: 100vw;
  height: 100%;
  background-color: royalblue;
}

.app__header {
  z-index: 100;
  width: 80vw;
}

@keyframes appAnimation {
  0% {
    transform: translateX(-2000px);
  }
  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 786px) {
  .app__header {
    width: 100vw;
  }
  .app__about {
    margin-bottom: 40px;
  }
}
